@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
.main {
  background-image: url("../../../assets/images/page/main.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 210px);
  padding-top: 58px;
  padding-bottom: 231px;

  .container {

    .main-title {
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 130%;
      color: #2A592E;
      margin-bottom: 67px;
    }

    .main-text {
      max-width:528px;
      font-size: 18px;
      line-height: 140%;
      color: $green-text-color;

    }


  }
}

.offers{
  background-color: #A4CBA3;
  padding: 80px 0;
  .container {
    display: flex;
    justify-content: space-between;

    .offer {
      width: 600px;
      height: 250px;
      padding: 35px 35px 0 35px;
      background: #FFFFFF;
      border-radius: 5px;
      box-sizing: border-box;
      .offer-title{
        font-size: 20px;
        line-height: 130%;
        color:$green-text-color
      }

      .offer-content{
        display: flex;
        .offer-text{
          font-size: 16px;
          line-height: 130%;
          color:$green-text-color
        }
      }


      &.offer-insta{
        .offer-image{
          margin-top: 35px;
        }
        .offer-text{
          margin-top: 16px;
          max-width: 234px;
          margin-left: 58px;

        }
        .offer-button{
          margin-left: 168px;
          margin-top: 22px;
          .button{
            width: 228px;
          }
        }
      }

      &.offer-collection{
        .offer-title{
          max-width: 362px;
        }
        .offer-image{
          margin-left: 81px;
          margin-top: 12px;
        }
        .offer-button{
          margin-left: 44px;
          margin-top: 75px;
        }
        .button{
          width: 177px;
        }
      }
    }
  }

}

.best-products{
  padding-top: 120px;
  padding-bottom: 130px;

  .carousel-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .carousel-title{
      @include head-lora-32;
    }


    .carousel-arrows{
      display: flex;
      justify-content: center;
      align-items: center;
    a{
      cursor: pointer;
      &:first-child{
        margin-right: 30px;
      }
    }

    }
  }
}
