@import "../../../../assets/styles/variables";

header.header{
  padding: 30px 0 49px 0;
  .container{
  display:flex;
  justify-content: space-between;

  .header-top{
    padding-top:32px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
    font-family: 'Monserrat',sans-serif;
    font-weight: 500;
    .header-top-menu{
      margin-left:26px;
      margin-right: 191px;

      nav ul{
        margin:0;
        padding: 0;
        display: flex;
        li{
          margin-right:40px;
          list-style:none;
          border-bottom: 1px solid transparent;

          &.active{
            border-bottom-color:$green-text-color
          }
          a{

            font-size: 16px;
            color:$green-text-color;
            cursor:pointer;
            text-decoration: none;
          }
        }

      }
    }
    .header-top-phone{
text-decoration: none;
    margin-right:59px;
      font-size: 16px;
color:$green-text-color;
    }
    .header-top-actions{
      display:flex;
      align-items:center;
      a{
        margin-right:8px;
        position: relative;
        &:last-child{
          margin-right:18px;
        }
        span{
          position:absolute;
          width:18px;
          height:18px;
          top:10px;
          right: -18px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Monserrat',sans-serif;
          font-weight: 400;
          font-size:9px;
          color:$green-text-color;
          border-radius: 50%;;
          background: #B6D5B9;
        }
      }
    }
  }
  }
  .header-bottom{
    padding-top:16px;
    display: flex;
    align-items: center;

    font-weight: 500;
    .header-bottom-menu{
      margin-right:97px;
      margin-left:26px;

      nav ul{
        margin:0;
        padding:0;
        display: flex;
        li{
          margin-right:50px;
          list-style: none;
          border-bottom: 1px solid transparent;

          &.active{
            border-bottom-color:$green-text-color
          }
          a{
            font-size:16px;
            color:#202B21;
            text-decoration: none;
            cursor:pointer;
          }
        }
      }
    }

    .header-bottom-search{
      position:relative;
      input{
        border:1px solid $green-text-color;
        border-radius: 30px;
        padding: 10px 10px 10px 43px;
        font-size: 16px;
        color: $green-text-color;
        width: 214px;
        height: 41px;
        box-sizing: border-box;
        outline:none;


      }
      &::after{
        content:"";
        background-image: url("../../../../assets/images/icons/search-normal.png");
        background-size: cover;
        position: absolute;
        width: 16px;
        height: 16px;
        left:15px;
        top:11px
         }
    }
  }
}

