@font-face {
  src:url("../fonts/Montserrat-Medium.ttf");
  font-family: "Monserrat";
  font-weight: 500;
}
@font-face {
  src:url("../fonts/Montserrat-Regular.ttf");
  font-family: "Monserrat";
  font-weight: 400;
}


