html, body{
  margin:0;
  padding:0 ;
  font-family: 'Monserrat',sans-serif;
  font-weight: 400;
}
.container{
  max-width: $container-width;
  margin:0 auto
}

.input{
  box-sizing: border-box;
  padding:17px 20px ;
  border: 2px solid  #2A592E;
  border-radius: 3px;
  font-family: 'Monserrat',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;
}
.small-input{
  border:1px solid #6CAC72;
  border-radius: 5px;
  text-align: center;
  padding:2px;
  box-sizing: border-box;
  width:40px;
  height: 28px;
  font-family: 'Monserrat',sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $green-text-color;
}
.button{
text-align: center;
padding: 15px;
background: #456F49;
border-radius: 5px;
box-sizing: border-box;
cursor: pointer;
border: 0;
font-family: "Monserrat",sans-serif;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
  &:disabled{
    background: gray;
    cursor: not-allowed;
  }
}
a.button{
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item{
  font-family: "Monserrat",sans-serif;
  font-weight: 400;
  a{
    text-decoration: none;
    color:$gray-text-color
  }
}
